* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  overflow-x: hidden;
  overflow-y: hidden;
}

:root {
  --bg-color: lightgrey;
  --cell-color: white;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 800;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  background-color: rgba(0, 0, 0, 0.9); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#counter {
  min-width: 80%;
  height: 100%;
  border: solid 2px white;
  display: flex; /* Hidden by default */
  justify-content: center;
  align-items: center;
}

.header {
  height: 15vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

main {
  /*   height: 70vh; */
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.users {
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 2.5vh;
  width: 80vw;
}

.users * {
  background-color: var(--cell-color);
  font-size: 25px;
  text-align: center;
  width: 35vw;
}

input {
  border: none;
  height: 3vh;
}

#btn-add {
  border: none;
  background-color: var(--bg-color);
  height: 3vh;
}

.footer {
  display: grid;
  width: 80vw;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 15vh;
  column-gap: 1vw;
}

.slide-time,
.go-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  height: clamp(30px, 100%, 120px);
}

button {
  background-size: contain;
  background-position: center;
  background-color: var(--bg-color);
  border: none;
}

img {
  height: 100%;
}

/*==============================*/
/* partie commune               */
/*==============================*/
input[type='range'].custom-slider.custom-slider-bullet {
  -webkit-appearance: none;
  height: 2em;
  width: 100%;
  color: #fff;
  background: transparent;
  background-image: linear-gradient(to bottom, #fff, #999, #fff);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 25%;
}

/*==============================*/
/* le curseur                   */
/*==============================*/
input[type='range'].custom-slider.custom-slider-bullet::-webkit-slider-thumb {
  width: 1em;
  padding: 0.75em; /* largeur du bord */
  border: 1px solid #888;
  border-radius: 50%;
  box-shadow: 0 0 0.5em #fff inset;
  background: linear-gradient(#888, #fff) content-box,
    /* le centre */ linear-gradient(-90deg, #888, #ddd) border-box; /* le bord */
}
